/* Inspired to: https://www.swyx.io/css-100-bytes */

html {
  max-width: 70ch;
  padding: 2em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
}

h1, h2, h3, h4, h5, h6 {
  margin: 2em 0 1em;
}

p, ul, ol {
  margin-bottom: 2em;
  font-family: sans-serif;
}